/* CSS Reset: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*

TODO:
  - dashboard-main should be a grid, for sensor info n stuff
  - keybinds
  - Socket.js implementation
  - Flask stuff
*/

:root {
  --clr-primary-900: hsl(195, 8%, 15%);
  --clr-primary-800: hsl(174, 8%, 24%);
  --clr-primary-600: hsl(172, 8%, 37%);
  --clr-secondary-800: hsl(38, 52%, 41%);
  --clr-secondary-700: hsl(38, 54%, 51%);
  --clr-secondary-500: hsl(31, 62%, 61%);
  --clr-secondary-300: hsl(39, 51%, 63%);
  --clr-secondary-200: hsl(39, 51%, 63%);
  --clr-secondary-100: hsl(30, 59%, 82%);
  --clr-accent: hsl(73, 55%, 25%);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--clr-primary-900);
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 2rem;
  place-items: center;
}

.card-style {
  background-color: var(--clr-primary-800);
  border-radius: 20px;
  text-align: center;
  padding: 2rem;
  box-shadow: 3 0.1rem 3rem;
}

.dash-container {
  display: flex;
}

.dashboard-secondary {
  height: 100%;
  width: 20rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-stream-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 0 2rem 0;
}

.stream-container {
  position: relative;
  display: inline-block;
  max-width: 55rem;
  height: auto;
}

.admin-buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.admin-button {
  margin: 0.25rem;
  padding: 0.3rem;
  width: 100%;
}

button.control {
  background-color: var(--clr-secondary-500);
  border-radius: 20%;
}

#main-stream {
  width: 100%;
}

.motor-indicator-container {
  position: relative;
}

.motor-indicator {
  background: rgba(105, 244, 18, 0.408);
  width: 100%;
  height: 0%;
  position: absolute;
}

.motor-indicator.top {
  top: 50%;
}

.motor-indicator.bottom {
  bottom: 50%;
}

#motor-indicator-container-left {
  grid-area: 1 / 2 / 8 / 2;
  left: -2.5rem;
}

#motor-indicator-container-right {
  grid-area: 1 / 6 / 8 / 6;
  right: -2.5rem;
}

.control.pressed {
  outline: 2px solid greenyellow;
  border-radius: 1%;
}

.control-group {
  margin: 0rem 2rem;
}

.control-group-move {
  margin: 0;
  padding: 0;
}

#control-group-move {
  position: relative;
}


#joystick-indicator {
  width: 5px;
  height: 5px;
  position: absolute;
  top: calc(50% - 2.5px);
  left: calc(50% - 2.5px);
  border: 2px solid red;
  background: red;
  border-radius: 100%;
}

#control-group-slider {
  display: flex;
}

.control-group-slider {
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
}

#control-support-leg {
  height: 6rem;
}

#control-camera-pan {
  width: 6rem;
}

#control-group-move {
  display: grid;
  width: 8rem;
  height: 8rem;
  grid-template-rows: repeat(3, 1fr) 1.8fr repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr) 1.86fr repeat(3, 1fr);
  grid-template-areas:
    ". . . up . . ."
    ". . . up . . ."
    ". . . up . . ."
    "left left left center right right right"
    ". . . down . . ."
    ". . . down . . ."
    ". . . down . . .";
}

.stream-annotation {
  position: absolute;
  top: 0px;
  border: 2px solid red;
}

/* Ultrasonic distance indicator */

.ultrasonic-indicator-container {
  width: 10rem;
  height: 10rem;
  position: relative;
  margin-bottom: 2rem;
}

.distance-indicator {
  position: absolute;
  border-width: 2px;
}

.distance-indicator-vertical {
  height: 50%;
  width: 1rem;
  transform: translate(-50%);
}

.distance-indicator-horizontal {
  width: 50%;
  height: 1rem;
  transform: translate(0, -25%);
}

.center-indicator-top {
  border-top-style: solid;
  top: 0;
  bottom: 50%;
  left: 50%;
}

.center-indicator-bottom {
  border-bottom-style: solid;
  top: 50%;
  bottom: 0;
  left: 50%;
}

.center-indicator-left {
  border-left-style: solid;
  left: 50%;
  left: 0;
  top: 50%;
}

.center-indicator-right {
  border-right-style: solid;
  right: 0;
  left: 50%;
  top: 50%;
}

.distance-indicator-horizontal {
  width: 50%;
  height: 17px;
}

.distance-indicator-vertical::after {
  content: "";
  position: absolute;
  border-left-width: 1px;
  border-left-style: solid;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.distance-indicator-horizontal::after {
  content: "";
  position: absolute;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -25%);
}

#control-move-up {
  grid-area: up;
}

#control-move-down {
  grid-area: down;
}

#control-turn-left {
  grid-area: left;
}

#control-turn-right {
  grid-area: right;
}
